# Trip generation

In [1]:
set.seed(2) # For replicability

## Packages

In [2]:
require(RCurl) #To read databases from htlm websites
require(plyr)

Loading required package: RCurl
Loading required package: bitops
Loading required package: plyr

### Codebook

In [3]:
#Dependent variable
# y: Number of daily trips per household 

#Explanatory variables
# x1 = number of workers
# x2 = number of students
# x3 = number of cars
# x4 = number of men
# x5 = average monthly household income
# z = zone

### Data Simulation

#### Number of observations

In [4]:
n <- 30

#### Beta parameters

In [5]:
b <- c(b0=2,b1=3,b2=2,b3=2,b4=1e-2,b5=1e-6) #Betas, including intercept

In [6]:
b

   b0    b1    b2    b3    b4    b5
2e+00 3e+00 2e+00 2e+00 1e-02 1e-06

### Generation of an error term normally distributed ($\mu = 0, \sigma =1$)

In [7]:
error <- rnorm(n, mean = 0, sd=1)

### Generation of random positive integers for each explanatory variable

In [8]:
x1 <- sample(0:2, n, replace=TRUE)

In [9]:
x2 <- sample(0:2, n, replace=TRUE)

In [10]:
x3 <- sample(0:1, n, replace=TRUE)

In [11]:
x4 <- sample(0:5, n, replace=TRUE)

In [12]:
x5 <- 1e5*sample(2:20, n, replace=TRUE) #Chilean pesos

### The dependent variable (y) is a linear combination of the explanatory variables and the error term

In [13]:
y <- b["b0"]+b["b1"]*x1+b["b2"]*x2+b["b3"]*x3+b["b4"]*x4+b["b5"]*x5+error

In [14]:
y <- round(y) # Y will be rounded because it is an integer variable

## Simulated dataset

In [15]:
df <- data.frame(hh=1:n,x1,x2,x3,x4,x5,y)

In [16]:
head(df)

  hh x1 x2 x3 x4 x5      y
1 1  2  2  0  1  1900000 13
2 2  2  1  0  2  1200000 11
3 3  1  1  1  5  2000000 13
4 4  0  1  1  2  1600000  6
5 5  2  1  0  4   400000 10
6 6  1  0  1  1  1700000  9

In [17]:
df

   hh x1 x2 x3 x4 x5      y
1   1 2  2  0  1  1900000 13
2   2 2  1  0  2  1200000 11
3   3 1  1  1  5  2000000 13
4   4 0  1  1  2  1600000  6
5   5 2  1  0  4   400000 10
6   6 1  0  1  1  1700000  9
7   7 1  1  1  5   300000 10
8   8 1  0  0  1  1600000  6
9   9 0  0  1  0   300000  6
10 10 0  1  0  1   300000  4
11 11 0  0  0  5   300000  3
12 12 0  1  1  5   900000  8
13 13 0  2  0  0  2000000  8
14 14 0  2  1  4   500000  8
15 15 0  0  0  1  1100000  5
16 16 2  1  1  3   500000 10
17 17 0  2  1  0   500000  9
18 18 2  1  1  5   500000 13
19 19 1  0  0  0   700000  7
20 20 1  0  0  3   400000  6
21 21 1  0  0  5  1800000  9
22 22 2  2  0  0  1400000 12
23 23 0  1  1  1  1300000  9
24 24 1  1  0  5  2000000 11
25 25 0  2  0  2   900000  7
26 26 2  2  1  4  1700000 13
27 27 2  2  1  2   600000 15
28 28 0  0  0  0   500000  2
29 29 2  2  0  3   500000 13
30 30 1  1  0  3   600000  8

## Descriptive Statistics

In [18]:
summary(df)

       hh              x1            x2          x3               x4
 Min.   : 1.00   Min.   :0.0   Min.   :0   Min.   :0.0000   Min.   :0.000
 1st Qu.: 8.25   1st Qu.:0.0   1st Qu.:0   1st Qu.:0.0000   1st Qu.:1.000
 Median :15.50   Median :1.0   Median :1   Median :0.0000   Median :2.000
 Mean   :15.50   Mean   :0.9   Mean   :1   Mean   :0.4333   Mean   :2.433
 3rd Qu.:22.75   3rd Qu.:2.0   3rd Qu.:2   3rd Qu.:1.0000   3rd Qu.:4.000
 Max.   :30.00   Max.   :2.0   Max.   :2   Max.   :1.0000   Max.   :5.000
       x5                y
 Min.   : 300000   Min.   : 2.00
 1st Qu.: 500000   1st Qu.: 6.25
 Median : 800000   Median : 9.00
 Mean   :1000000   Mean   : 8.80
 3rd Qu.:1600000   3rd Qu.:11.00
 Max.   :2000000   Max.   :15.00

## Multiple Linear Regression

### Model including all explanatory variables

In [19]:
generation_MLR <- lm(y~x1+x2+x3+x4+x5, data = subset(df))

In [20]:
summary(generation_MLR)

Call:
lm(formula = y ~ x1 + x2 + x3 + x4 + x5, data = subset(df))

Residuals:
     Min       1Q   Median       3Q      Max
-2.18496 -0.63323  0.01849  0.90845  1.47881

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 2.705e+00  5.747e-01   4.706 8.76e-05 ***
x1          2.494e+00  2.768e-01   9.008 3.63e-09 ***
x2          1.507e+00  2.932e-01   5.138 2.93e-05 ***
x3          1.780e+00  4.518e-01   3.939 0.000614 ***
x4          1.706e-01  1.211e-01   1.409 0.171749
x5          1.158e-06  3.551e-07   3.261 0.003316 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.166 on 24 degrees of freedom
Multiple R-squared:  0.8944,	Adjusted R-squared:  0.8724
F-statistic: 40.65 on 5 and 24 DF,  p-value: 5.979e-11

### The parameter of the explanatory variable $x_4 (\beta_4)$ is not significant so it is excluded from the model

In [21]:
generation_MLR1 <- lm(y~1+x1+x2+x3+x5, data = subset(df))

In [22]:
summary(generation_MLR1)

Call:
lm(formula = y ~ 1 + x1 + x2 + x3 + x5, data = subset(df))

Residuals:
     Min       1Q   Median       3Q      Max
-2.23940 -0.47541 -0.01483  0.71626  1.70926

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 3.026e+00  5.379e-01   5.625 7.47e-06 ***
x1          2.595e+00  2.725e-01   9.521 8.55e-10 ***
x2          1.464e+00  2.974e-01   4.923 4.54e-05 ***
x3          1.924e+00  4.486e-01   4.288 0.000236 ***
x5          1.141e-06  3.618e-07   3.154 0.004161 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.188 on 25 degrees of freedom
Multiple R-squared:  0.8857,	Adjusted R-squared:  0.8674
F-statistic: 48.42 on 4 and 25 DF,  p-value: 2.036e-11

## Predicting generated trips by zone

### Zonal data

In [23]:
nZones <- 3

### Random asignment of household to each zone

In [24]:
df$zone <- sample(1:nZones, n, replace=TRUE)
df

   hh x1 x2 x3 x4 x5      y  zone
1   1 2  2  0  1  1900000 13 3
2   2 2  1  0  2  1200000 11 2
3   3 1  1  1  5  2000000 13 3
4   4 0  1  1  2  1600000  6 3
5   5 2  1  0  4   400000 10 3
6   6 1  0  1  1  1700000  9 1
7   7 1  1  1  5   300000 10 2
8   8 1  0  0  1  1600000  6 1
9   9 0  0  1  0   300000  6 2
10 10 0  1  0  1   300000  4 1
11 11 0  0  0  5   300000  3 1
12 12 0  1  1  5   900000  8 3
13 13 0  2  0  0  2000000  8 2
14 14 0  2  1  4   500000  8 2
15 15 0  0  0  1  1100000  5 3
16 16 2  1  1  3   500000 10 3
17 17 0  2  1  0   500000  9 3
18 18 2  1  1  5   500000 13 2
19 19 1  0  0  0   700000  7 3
20 20 1  0  0  3   400000  6 3
21 21 1  0  0  5  1800000  9 3
22 22 2  2  0  0  1400000 12 2
23 23 0  1  1  1  1300000  9 3
24 24 1  1  0  5  2000000 11 2
25 25 0  2  0  2   900000  7 3
26 26 2  2  1  4  1700000 13 1
27 27 2  2  1  2   600000 15 2
28 28 0  0  0  0   500000  2 1
29 29 2  2  0  3   500000 13 1
30 30 1  1  0  3   600000  8 2

### Number of households by zone

In [25]:
nhhi <- as.numeric(table(df$zone))

### Average value of the explanatory variables by zone

In [26]:
X_zone <- ddply(df, .(zone), summarize,  x1=mean(x1), x2=mean(x2),x3=mean(x3),x5=mean(x5)); X_zone

  zone x1        x2        x3        x5
1 1    0.8571429 0.7142857 0.2857143  942857.1
2 2    1.1000000 1.3000000 0.5000000  940000.0
3 3    0.7692308 0.9230769 0.4615385 1076923.1

### Predictions of the generated trips by zone

#### Explanatory variables

In [27]:
dfPredictions <- X_zone

In [28]:
dfPredictions

  zone x1        x2        x3        x5
1 1    0.8571429 0.7142857 0.2857143  942857.1
2 2    1.1000000 1.3000000 0.5000000  940000.0
3 3    0.7692308 0.9230769 0.4615385 1076923.1

#### Number of daily trips per household in each zone

In [29]:
dailyTripsHHi <- predict.lm(generation_MLR1,dfPredictions); dailyTripsHHi

       1        2        3
7.921294 9.817987 8.490082

#### The number of trips produced in each zone correspond to the models' predictions weighted by the number of househoulds in each zone

In [30]:
round(nhhi*dailyTripsHHi,0)

  1   2   3
 55  98 110